aside{
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

aside a{
    color: black;
    margin-bottom: 30px;
}

aside a img{
    aspect-ratio: 1/1;
    height: 50px;
    object-fit: cover;
}

aside p{
    margin: 0;
}