<aside class="row">

    <a href="#" class="col-xs-3 col-s-3 col-m-3 col-l-12">
        <img src="img/icons8-caja-llena-50.png" alt="icono del carrito" witdh="40px";/>
        <p>0 articulos en el carrito</p>
    </a>
    <a href="#" class="col-xs-3 col-s-3 col-m-3 col-l-12">
        <img src="img/icons8-carro-favorito-80.png" alt="icono del carrito" witdh="40px";/>
        <p>0 articulos en el carrito</p>
    </a>
    <a href="#" class="col-xs-3 col-s-3 col-m-3 col-l-12">
        <img src="img/icons8-lleno-enviado-80.png" alt="icono del carrito" witdh="40px";/>
        <p>0 articulos en el carrito</p>
    </a>
    <a href="#" class="col-xs-3 col-s-3 col-m-3 col-l-12">
        <img src="img/icons8-relojes-vista-de-frente-filled-80.png" alt="icono del carrito"/>
        <p>0 articulos en el carrito</p>
    </a>

</aside>