<footer>
    <div class="container">
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons8-relojes-vista-de-frente-filled-80.png" alt="icono" height="60px">
            <p><strong>Envios gratis</strong><br/>30$ de compra</p>
        </div>
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons8-relojes-vista-de-frente-filled-80.png" alt="icono" height="60px">
            <p><strong>Envios gratis</strong><br/>30$ de compra</p>
        </div>
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons8-relojes-vista-de-frente-filled-80.png" alt="icono" height="60px">
            <p><strong>Envios gratis</strong><br/>30$ de compra</p>
        </div>
        <div class="col-xs-6 col-s-3 icon-footer">
            <img src="img/icons8-relojes-vista-de-frente-filled-80.png" alt="icono" height="60px">
            <p><strong>Envios gratis</strong><br/>30$ de compra</p>
        </div>
    </div>
    <p>
        &copy; Besis de Fresi
    </p>
</footer>