<h1 class="title-products">Vestidos de mujer</h1>

<div class="row">
    <div class="colum-xs-12">
        <form action="">
            <input class="search-input" type="search" name="search" placeholder="Buscar el artículo...">
        </form>

        <select name="" id="" class="select-order">
            <option value="">Precio más bajo</option>
            <option value="">Precio más alto</option>
            <option value="">Por opiniones</option>
            <option value="">Por descuento</option>
        </select>
    </div>
</div>
    <div class="row">
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto1.jpg" alt="Producto 1" width="100%"></div>
            <div class="offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto2.jpg" alt="Producto 1" width="100%"></div>
            <div class="hidden offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price"><del>40€</del>29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto3.jpg" alt="Producto 1" width="100%"></div>
            <div class="hidden offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price"><del>40€</del>29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto4.jpg" alt="Producto 1" width="100%"></div>
            <div class="offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price"><del>40€</del>29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto5.jpg" alt="Producto 1" width="100%"></div>
            <div class="hidden offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto6.jpg" alt="Producto 1" width="100%"></div>
            <div class="hidden offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto7.jpg" alt="Producto 1" width="100%"></div>
            <div class="offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto8.jpg" alt="Producto 1" width="100%"></div>
            <div class="hidden offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
        <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
            <div class="container"><img src="img/producto9.jpg" alt="Producto 1" width="100%"></div>
            <div class="offer">Oferta</div>
            <h3>Vestido rosado largo</h3>
            <strong class="price">29.88€</strong>
        </a>
    </div>

    <ul class="pagination">
        <li><a href="" class="active">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">...</a></li>
        <li><a href="">10</a></li>

    </ul>